<div class="modal-content">
    <div class="modal-header">
        <!-- Header content goes here -->
    </div>
    <div class="modal-body" #modalBody>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <h6>Purpose</h6>
                        <textarea type="text" class="form-control" [(ngModel)]="purpose"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer p-0">
        <button type="submit" class="btn btn-success m-1" (click)="confirmAction()">Proceed</button>
        <button type="button" class="btn btn-outline-dark m-1" (click)="cancelAction()">Cancel</button>
    </div>
</div>
