<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header d-flex align-items-center">
				<h4 class="card-title"> Certificates </h4>
				<button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold m-1 ms-auto" (click)="addCertificate()">Add Certificate</button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>
								Certificate Type
							</th>
							<th>
								&nbsp;
							</th>
						</thead>
						<tbody>
							<tr *ngFor="let document of barangayDocuments">
								<td>{{ document.certificate_type }}</td>
								<td>
									<button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold m-1" (click)="viewCertificateDetails(document)">View</button>
									<button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold m-1" (click)="deleteCertificate(document.id)">Delete</button>
								</td>
							</tr>
							<tr *ngIf="barangayDocuments.length == 0">
								<td colspan="2">NO DATA</td>
							</tr>
						</tbody>
					</table>
				</div>			
			</div>
		</div>
	</div>
</div>