<div class="row">
	<div class="col-10">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title"> Settings </h4>
			</div>
			<div class="card-body" *ngIf="userSettings">
				<div class="p-3 form-group">
					<div class="row">
						<div class="col-4">
							<div class="mb-3">
								<label>First Name</label>
								<input type="text" class="form-control" [(ngModel)]="userSettings.first_name">
							</div>
						</div>
						<div class="col-4">
							<div class="mb-3">
								<label>Middle Name</label>
								<input type="text" class="form-control" [(ngModel)]="userSettings.middle_name">
							</div>
						</div>
						<div class="col-4">
							<div class="mb-3">
								<label>Last Name</label>
								<input type="text" class="form-control" [(ngModel)]="userSettings.last_name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="mb-3">
								<label>Email</label>
								<input type="text" class="form-control" [(ngModel)]="userSettings.email">
							</div>
						</div>
						<div class="col-6" *ngIf="userRole !== 'resident'">
							<div class="mb-3">
								<label>Position</label>
								<select class="form-select" aria-label="Default select example" id="role" name="role" [(ngModel)]="userSettings.role">
									<option value="Kapitan">Kapitan</option>
									<option value="Kagawad">Kagawad</option>
									<option value="super admin">IT Staff</option>
									<option value="admin">Clearance Staff</option>
								</select>
							</div>
						</div>  
					</div>
					<div class="row">
						<div class="col-4">
							<div class="mb-3">
								<label>Password</label>
								<input type="password" class="form-control" [(ngModel)]="userSettings.password">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="alert alert-success" role="alert" *ngIf="userSettingsUpdateSuccess">
								User Settings Updated Successfully
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-primary m-1" (click)="saveOfficial()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>