<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Barangay Officials </h4>
			</div>
			<div class="card-body">
				<form [formGroup]="profileForm">
					<div class="p-3 form-group">
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label [ngClass]="{'text-danger': profileForm.get('first_name')?.touched && profileForm.get('first_name')?.invalid}">First Name</label>
									<input type="text" formControlName="first_name" class="form-control" [ngClass]="{'is-invalid': profileForm.get('first_name')?.touched && profileForm.get('first_name')?.invalid}">
									<div *ngIf="profileForm.get('first_name')!.hasError('required')" class="invalid-feedback">
										This field is required
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label for="text" class="form-label">Middle Name</label>
									<input type="text" formControlName="middle_name" class="form-control">
								</div>						
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label [ngClass]="{'text-danger': profileForm.get('last_name')?.touched && profileForm.get('last_name')?.invalid}">Last Name</label>
									<input type="text" formControlName="last_name" class="form-control" [ngClass]="{'is-invalid': profileForm.get('last_name')?.touched && profileForm.get('last_name')?.invalid}">
									<div *ngIf="profileForm.get('last_name')!.hasError('required')" class="invalid-feedback">
										This field is required
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label [ngClass]="{'text-danger': profileForm.get('email')?.touched && profileForm.get('email')!.invalid, 'text-success': profileForm.get('email')?.touched && profileForm.get('email')!.valid}">Email</label>
									<input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': profileForm.get('email')!.touched && profileForm.get('email')!.invalid, 'is-valid': profileForm.get('email')!.touched && profileForm.get('email')!.valid}">
									<div *ngIf="profileForm.get('email')!.touched && profileForm.get('email')!.invalid" class="invalid-feedback">Please enter a valid email address</div>
									<div *ngIf="profileForm.get('email')!.hasError('required') && profileForm.get('email')!.touched" class="invalid-feedback">This field is required</div>
								</div>
							</div>            
						</div>
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label for="password" class="form-label">Password</label>
									<input type="password" formControlName="password" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<label [ngClass]="{'text-danger': profileForm.get('role')?.touched && profileForm.get('role')?.invalid}">Position</label>
									<!-- <input type="text" formControlName="role" class="form-control" [ngClass]="{'is-invalid': profileForm.get('role')?.touched && profileForm.get('role')?.invalid}"> -->
									<select class="form-select" aria-label="Default select example" id="role" name="role" formControlName="role">
										<option value="Kapitan">Kapitan</option>
										<option value="Kagawad">Kagawad</option>
										<!-- <option value="super admin">IT Staff</option> -->
										<option value="Clearance Staff">Clearance Staff</option>
									</select>
									<div *ngIf="profileForm.get('role')!.hasError('required')" class="invalid-feedback">
										This field is required
									</div>
								</div>
							</div>            
						</div>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary m-1" (click)="saveOfficial()" [disabled]="!profileForm.valid">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>